body
{
	font-family: "comic sans ms",sans-serif;
	background-image: url("img7.jpeg");
	background-attachment: fixed;
	background-size: cover;
	color:white;
}
h1
{
	background:linear-gradient(145deg,purple,black,red,black,purple);
	text-align: center;
	display:inline-block;
	margin-left: 40%;
	color: white;
}
fieldset>legend
{
	border:inherit;
	background:linear-gradient(33deg,blue,black,blue);
	border-radius: 20px 0px 20px 0px;
	padding:20px;
	color:white;
}
fieldset
{
	border:5px solid white;
	background-color:rgba(0,0,0,0.1);
}
table
{
	width:100%;
}
input[type="text"],
input[type="number"],
input[type="week"],
input[type="month"],
input[type="date"]
{
	width:200px;
	height:30px;
	border-radius: 15px;
	border:none;
	outline:none;
}
#submit
{
	background:linear-gradient(25deg,black,white,yellow,white,black);
	border-radius: 0px 15px 0px 15px;
	border:inherit;
	padding:15px;
	text-align: center;
	display: inline-block;
	color:black;
	margin-left: 300px;
}
#reset
{
	background:linear-gradient(25deg,black,white,yellow,white,black);
	border-radius: 0px 15px 0px 15px;
	border:inherit;
	padding:15px;
	text-align: center;
	display: inline-block;
	color:black;
	margin-left: 200px;
}
