body
{
	font-family: "comic sans ms",sans-serif;
	background-image: url("bgimg1.jpg");
	background-attachment:fixed;
	background-size: cover;
	color: white;
}
h1
{
	text-align: center;
	text-shadow: 0 0 30px black;
	font-size: 30px;
	background:linear-gradient(235deg,darkblue,white,black,limegreen,yellow,black,white,purple);
	display:inline-block;
	margin-left: 37%;
}
fieldset
{
	border:5px solid white;
	background-color: rgba(0,0,0,0.3);
}
fieldset>legend
{
	border:inherit;
	padding:15px;
	background:linear-gradient(45deg,darkblue,limegreen,yellow);
	border-radius:20px 0px 20px 0px;
}
table
{
	width:100%;
}
input[type="number"],
input[type="date"],
input[type="month"],
input[type="text"],
textarea,
select
{
	width:200px;
	height:30px;
	border-radius: 15px;
	border:none;
	outline:none;
}
textarea
{
	height:60px;
}
select
{
	width:;
}
#submit
{
	background:linear-gradient(25deg,red,white,red);
	border-radius: 0px 15px 0px 15px;
	border:inherit;
	padding:15px;
	display:inline-block;
	margin-left:550px;
	color:black;
}
#reset
{
	background:linear-gradient(25deg,red,white,red);
	border-radius: 0px 15px 0px 15px;
	border:inherit;
	padding:15px;
	margin-left:200px;
	display:inline-block;
	color:black;
}